In [1]:
import pandas as pd

In [2]:
s = pd.Series([12, 4, 5, 7, 2],['a', 'b', 'c', 'd', 'e'])
s

a    12
b     4
c     5
d     7
e     2
dtype: int64

In [3]:
# How to remove any indexin series
# Method 02
s.pop('c')
s

a    12
b     4
d     7
e     2
dtype: int64

In [4]:
import numpy as np
s = pd.Series([12, 4, 5, np.nan, 7, 2],['a', 'b', 'c', 'd', 'e', 'f'])
s

a    12.0
b     4.0
c     5.0
d     NaN
e     7.0
f     2.0
dtype: float64

In [5]:
s.isna()

a    False
b    False
c    False
d     True
e    False
f    False
dtype: bool

In [6]:
s.notna()

a     True
b     True
c     True
d    False
e     True
f     True
dtype: bool

In [7]:
# checking value
s.isin([5])

a    False
b    False
c     True
d    False
e    False
f    False
dtype: bool

In [8]:
# copy of series
sc = s.copy()
sc

a    12.0
b     4.0
c     5.0
d     NaN
e     7.0
f     2.0
dtype: float64

In [9]:
s['b'] = 89.0

In [10]:
s

a    12.0
b    89.0
c     5.0
d     NaN
e     7.0
f     2.0
dtype: float64

In [11]:
sc

a    12.0
b     4.0
c     5.0
d     NaN
e     7.0
f     2.0
dtype: float64

In [13]:
# you can sort series base on values descending
s.sort_values()

f     2.0
c     5.0
e     7.0
a    12.0
b    89.0
d     NaN
dtype: float64

In [15]:
# you can sort series base on values ascending
s.sort_values(ascending=False)

b    89.0
a    12.0
e     7.0
c     5.0
f     2.0
d     NaN
dtype: float64

In [17]:
s.sort_values()

f     2.0
c     5.0
e     7.0
a    12.0
b    89.0
d     NaN
dtype: float64

In [16]:
# if series was sorted. you can see number of values
s.rank()

a    4.0
b    5.0
c    2.0
d    NaN
e    3.0
f    1.0
dtype: float64

In [18]:
# every series can have non unique indexes
s = pd.Series([12, 4, 5, 7, 2],['a', 'b', 'c', 'a', 'e'])
s

a    12
b     4
c     5
a     7
e     2
dtype: int64

In [20]:
s['a']

a    12
a     7
dtype: int64

In [21]:
# if series have unique index?
s.index.is_unique

False

In [24]:
s.describe()

count     5.000000
mean      6.000000
std       3.807887
min       2.000000
25%       4.000000
50%       5.000000
75%       7.000000
max      12.000000
dtype: float64

In [27]:
s.count()

5

In [28]:
s.quantile(0.5)

5.0

In [29]:
s.quantile([0.5, 0.75])

0.50    5.0
0.75    7.0
dtype: float64

In [30]:
s

a    12
b     4
c     5
a     7
e     2
dtype: int64

In [31]:
s>=5

a     True
b    False
c     True
a     True
e    False
dtype: bool

In [33]:
s.where(s >= 5)

a    12.0
b     NaN
c     5.0
a     7.0
e     NaN
dtype: float64

In [35]:
myser = pd.Series(['a', 'b', 'a', 'c', 'd'])
myser

0    a
1    b
2    a
3    c
4    d
dtype: object

In [38]:
myser.duplicated()

0    False
1    False
2     True
3    False
4    False
dtype: bool

In [40]:
myser.drop_duplicates()

0    a
1    b
3    c
4    d
dtype: object

In [41]:
myser = pd.Series(['a', 'b', 'a', 'c', 'd'])
myser

0    a
1    b
2    a
3    c
4    d
dtype: object

In [42]:
myser.drop_duplicates(keep='last')

1    b
2    a
3    c
4    d
dtype: object

In [43]:
s = pd.Series([1, 2, 3, 4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [44]:
s.add_prefix('item_')

item_0    1
item_1    2
item_2    3
item_3    4
dtype: int64

In [46]:
s.add_suffix('_item')

0_item    1
1_item    2
2_item    3
3_item    4
dtype: int64

In [47]:
a = pd.Series([1, 10, 3])
b = pd.Series([4, 5, 6])

In [48]:
a+b

0     5
1    15
2     9
dtype: int64

In [49]:
a.add(b)

0     5
1    15
2     9
dtype: int64

In [50]:
a.subtract(b)

0   -3
1    5
2   -3
dtype: int64

In [51]:
a-b

0   -3
1    5
2   -3
dtype: int64

In [52]:
a.multiply(b)

0     4
1    50
2    18
dtype: int64

In [53]:
a**b

0         1
1    100000
2       729
dtype: int64

In [54]:
a.pow(b)

0         1
1    100000
2       729
dtype: int64

In [55]:
a.divide(b)

0    0.25
1    2.00
2    0.50
dtype: float64

In [56]:
a.mod(b)

0    1
1    0
2    3
dtype: int64

In [57]:
a = pd.Series([1, 10, 3],['a', 'b', 'c'])
b = pd.Series([4, 5, 6],['a', 'b', 'd'])

In [58]:
a.add(b)

a     5.0
b    15.0
c     NaN
d     NaN
dtype: float64

In [59]:
a.add(b, fill_value=0)

a     5.0
b    15.0
c     3.0
d     6.0
dtype: float64