In [1]:
## pip install pandas

In [2]:
import pandas as pd

In [3]:
s = pd.Series([12, 8, 19, 17])
s

0    12
1     8
2    19
3    17
dtype: int64

In [4]:
# we can custom index of series
s = pd.Series([12, 8, 19, 17],index=['ali', 'hossein', 'shahriar', 'maryam'])
s

ali         12
hossein      8
shahriar    19
maryam      17
dtype: int64

In [5]:
s[1]

8

In [6]:
s['hossein']

8

In [7]:
s = s.reindex(['ali', 'reza', 'shahriar', 'maryam'])
s

ali         12.0
reza         NaN
shahriar    19.0
maryam      17.0
dtype: float64

In [8]:
s[1]

nan

In [9]:
s['reza'] = 18

In [10]:
s

ali         12.0
reza        18.0
shahriar    19.0
maryam      17.0
dtype: float64

In [11]:
# How to get index of series
s.index

Index(['ali', 'reza', 'shahriar', 'maryam'], dtype='object')

In [12]:
# How to get values of series
s.values

array([12., 18., 19., 17.])

In [13]:
s[1:3]

reza        18.0
shahriar    19.0
dtype: float64

In [14]:
s[:2]

ali     12.0
reza    18.0
dtype: float64

In [15]:
s.iloc[:2]

ali     12.0
reza    18.0
dtype: float64

In [16]:
# s[:2] is equvalent of s.iloc[:2]

In [17]:
# How to assign name of column of series? 
# name of column students name
s.index.name = 'Name'
s

Name
ali         12.0
reza        18.0
shahriar    19.0
maryam      17.0
dtype: float64

In [18]:
# how to assign name of series
s.name = 'Grade'
s

Name
ali         12.0
reza        18.0
shahriar    19.0
maryam      17.0
Name: Grade, dtype: float64

In [19]:
# How remove item series
s = s.drop('reza')
s

Name
ali         12.0
shahriar    19.0
maryam      17.0
Name: Grade, dtype: float64

In [20]:
s = s.drop(['ali', 'maryam'])
s

Name
shahriar    19.0
Name: Grade, dtype: float64